<template>
    <div class="container">
      <h1>URL Shortener</h1>
      <form @submit.prevent="shortenUrl" class="shorten-form">
        <input
          type="text"
          v-model="originalUrl"
          placeholder="Enter your URL here"
          class="url-input"
          :class="{ 'is-invalid': errors.original_url }"
          required
        />
        <button type="submit" class="shorten-button">Shorten</button>
      </form>
      <div v-if="errors.original_url" class="error-message">
        {{ errors.original_url[0] }}
      </div>
      <div v-if="shortUrl" class="result">
        <h2>Shortened URL:</h2>
        <a :href="shortUrl" target="_blank" class="short-url">{{ shortUrl }}</a>
      </div>
      <div v-if="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </div>
</template>

<script>
  import axios from 'axios';

  export default {
    data() {
      return {
        originalUrl: '',
        shortUrl: '',
        errors: {},
        errorMessage: ''
      };
    },
    methods: {
      async shortenUrl() {
        this.errors = {};
        this.errorMessage = '';
        try {
          const response = await axios.post('/api/shorten', {
            original_url: this.originalUrl
          });
          this.shortUrl = response.data.short_url;
        } catch (error) {
          if (error.response && error.response.status === 422) {
            this.errors = error.response.data.errors;
          } else if (error.response && error.response.status === 400) {
            this.errorMessage = error.response.data.error;
          } else {
            this.errorMessage = 'An unexpected error occurred.';
          }
        }
      }
    }
  };
</script>

<style scoped>
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    color: #333;
    margin-bottom: 20px;
  }

  .shorten-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .url-input {
    width: 70%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
  }

  .url-input.is-invalid {
    border-color: red;
  }

  .shorten-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .shorten-button:hover {
    background-color: #0056b3;
  }

  .result {
    margin-top: 20px;
  }

  .short-url {
    color: #007bff;
    text-decoration: none;
  }

  .short-url:hover {
    text-decoration: underline;
  }

  .error-message {
    color: red;
    margin-top: 10px;
  }
</style>
